# SVAAS Columns Counts 
### 'complaints', 'diagnosis', 'advice', 'bp_dia', 'bp_sys', 'pulse', 'weight', 'height','bmi'

In [1]:
import pandas as pd
import numpy as np

In [2]:
# uPLOADING DATA
df= pd.read_excel('brdg_appt_conslt_mapping (1).xlsx')
df.head()

,brdg_appt_conslt_sid,appointment_id,consultation_id,appointment_dt_sid,appointment_datetime,appointment_status,appointment_type,svaas_appointment_id,vendor_sid,doctor_id,...,diagnosis,advice,bp_dia,bp_sys,pulse,weight,height,bmi,row_insert_dt,row_update_dt
0,1,1480,257,20211126,2021-11-26 13:00:00,completed,InPerson,D-HX2611-1144-8685902019,116,806,...,STRAE GRAVIDA,plan mnrf after 2 weeks on17-12-2021,NaN,NaN,NaN,NaN,NaN,NaN,2022-04-08 20:32:08.653,2022-04-08 20:32:08.653
1,2,1939,-1,20220115,2022-01-15 11:50:00,missed,InPerson,D-HX1501-1148-8372462466,101,919,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-04-08 20:32:08.653,2022-04-08 20:32:08.653
2,3,2205,-1,20220203,2022-02-03 21:00:00,cancelled,InPerson,D-HX0302-1636-5716257646,63,1117,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-04-08 20:32:08.653,2022-04-08 20:32:08.653
3,4,2235,-1,20220207,2022-02-07 19:30:00,declined,InPerson,D-HX0602-1801-3049047900,388,1239,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-04-08 20:32:08.653,2022-04-08 20:32:08.653
4,5,2594,-1,20220308,2022-03-08 12:10:00,no_show,InPerson,D-HX0803-0834-8413717641,1027,1250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-04-08 20:32:08.653,2022-04-08 20:32:08.653

In [59]:
df.columns

Index(['brdg_appt_conslt_sid', 'appointment_id', 'consultation_id',
       'appointment_dt_sid', 'appointment_datetime', 'appointment_status',
       'appointment_type', 'svaas_appointment_id', 'vendor_sid', 'doctor_id',
       'doctor_sid', 'patient_id', 'patient_sid', 'policy_id', 'policy_sid',
       'insurance_partner_sid', 'insurance_company_name', 'prescription',
       'cancellation_reason', 'next_visit', 'clinic_id', 'complaints',
       'diagnosis', 'advice', 'bp_dia', 'bp_sys', 'pulse', 'weight', 'height',
       'bmi', 'row_insert_dt', 'row_update_dt'],
      dtype='object')

In [11]:
df2=df.copy()
df2.head()

,brdg_appt_conslt_sid,appointment_id,consultation_id,appointment_dt_sid,appointment_datetime,appointment_status,appointment_type,svaas_appointment_id,vendor_sid,doctor_id,...,diagnosis,advice,bp_dia,bp_sys,pulse,weight,height,bmi,row_insert_dt,row_update_dt
0,1,1480,257,20211126,2021-11-26 13:00:00,completed,InPerson,D-HX2611-1144-8685902019,116,806,...,STRAE GRAVIDA,plan mnrf after 2 weeks on17-12-2021,NaN,NaN,NaN,NaN,NaN,NaN,2022-04-08 20:32:08.653,2022-04-08 20:32:08.653
1,2,1939,-1,20220115,2022-01-15 11:50:00,missed,InPerson,D-HX1501-1148-8372462466,101,919,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-04-08 20:32:08.653,2022-04-08 20:32:08.653
2,3,2205,-1,20220203,2022-02-03 21:00:00,cancelled,InPerson,D-HX0302-1636-5716257646,63,1117,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-04-08 20:32:08.653,2022-04-08 20:32:08.653
3,4,2235,-1,20220207,2022-02-07 19:30:00,declined,InPerson,D-HX0602-1801-3049047900,388,1239,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-04-08 20:32:08.653,2022-04-08 20:32:08.653
4,5,2594,-1,20220308,2022-03-08 12:10:00,no_show,InPerson,D-HX0803-0834-8413717641,1027,1250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-04-08 20:32:08.653,2022-04-08 20:32:08.653

In [12]:
df2=df2.fillna('Blank')

In [62]:
# Columns counts on complaints
complaints_cnt=df2.groupby('complaints').agg({'complaints':'count'}).rename(columns={"complaints":"complaints_counts"})
 #df.C.isnull().groupby().sum().astype(int).reset_index(name='count')
# Head
complaints_cnt.head()

                          complaints_counts
complaints
ABDOMEN DISCOMFORT                        1
ACNE VULGARIS                             1
AMENNORRHEAP                              1
ANNULAR PLAQUES IN GROIN                  1
ANTENATAL CHECK UP                        1

In [63]:
# Saving files
complaints_cnt.to_excel('complaints_cnt.xlsx')

In [64]:
# Columns counts on complaints
diagnosis_cnt=df2.groupby('diagnosis').agg({'diagnosis':'count'}).rename(columns={"diagnosis":"diagnosis_counts"})

advice_cnt=df2.groupby('advice').agg({'advice':'count'}).rename(columns={"advice":"advice_counts"})

bp_dia_cnt=df2.groupby('bp_dia').agg({'bp_dia':'count'}).rename(columns={"bp_dia":"bp_dia_counts"})

bp_sys_cnt=df2.groupby('bp_sys').agg({'bp_sys':'count'}).rename(columns={"bp_sys":"bp_sys_counts"})

pulse_cnt=df2.groupby('pulse').agg({'pulse':'count'}).rename(columns={"pulse":"pulse_counts"})

weight_cnt=df2.groupby('weight').agg({'weight':'count'}).rename(columns={"weight":"weight_counts"})

height_cnt=df2.groupby('height').agg({'height':'count'}).rename(columns={"height":"height_counts"})

bmi_cnt=df2.groupby('bmi').agg({'bmi':'count'}).rename(columns={"bmi":"bmi_counts"})

In [65]:
# Saving files
diagnosis_cnt.to_excel('diagnosis_cnt.xlsx')

advice_cnt.to_excel('advice_cnt.xlsx')

bp_dia_cnt.to_excel('bp_dia_cnt.xlsx')

bp_sys_cnt.to_excel('bp_sys_cnt.xlsx')

pulse_cnt.to_excel('pulse_cnt.xlsx')

weight_cnt.to_excel('weight_cnt.xlsx')

height_cnt.to_excel('height_cnt.xlsx')

bmi_cnt.to_excel('bmi_cnt.xlsx')

# Finding the count by doctor id and complaint id
### group by on Complaints and doctor Id together

In [3]:
df.head()

,brdg_appt_conslt_sid,appointment_id,consultation_id,appointment_dt_sid,appointment_datetime,appointment_status,appointment_type,svaas_appointment_id,vendor_sid,doctor_id,...,diagnosis,advice,bp_dia,bp_sys,pulse,weight,height,bmi,row_insert_dt,row_update_dt
0,1,1480,257,20211126,2021-11-26 13:00:00,completed,InPerson,D-HX2611-1144-8685902019,116,806,...,STRAE GRAVIDA,plan mnrf after 2 weeks on17-12-2021,NaN,NaN,NaN,NaN,NaN,NaN,2022-04-08 20:32:08.653,2022-04-08 20:32:08.653
1,2,1939,-1,20220115,2022-01-15 11:50:00,missed,InPerson,D-HX1501-1148-8372462466,101,919,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-04-08 20:32:08.653,2022-04-08 20:32:08.653
2,3,2205,-1,20220203,2022-02-03 21:00:00,cancelled,InPerson,D-HX0302-1636-5716257646,63,1117,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-04-08 20:32:08.653,2022-04-08 20:32:08.653
3,4,2235,-1,20220207,2022-02-07 19:30:00,declined,InPerson,D-HX0602-1801-3049047900,388,1239,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-04-08 20:32:08.653,2022-04-08 20:32:08.653
4,5,2594,-1,20220308,2022-03-08 12:10:00,no_show,InPerson,D-HX0803-0834-8413717641,1027,1250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-04-08 20:32:08.653,2022-04-08 20:32:08.653

In [4]:
df.columns

Index(['brdg_appt_conslt_sid', 'appointment_id', 'consultation_id',
       'appointment_dt_sid', 'appointment_datetime', 'appointment_status',
       'appointment_type', 'svaas_appointment_id', 'vendor_sid', 'doctor_id',
       'doctor_sid', 'patient_id', 'patient_sid', 'policy_id', 'policy_sid',
       'insurance_partner_sid', 'insurance_company_name', 'prescription',
       'cancellation_reason', 'next_visit', 'clinic_id', 'complaints',
       'diagnosis', 'advice', 'bp_dia', 'bp_sys', 'pulse', 'weight', 'height',
       'bmi', 'row_insert_dt', 'row_update_dt'],
      dtype='object')

In [7]:
# Groupby doctor id and complaint
docID_cmpltId_cnt=df.groupby(['doctor_id','complaints']).agg({'complaints': 'count'}).rename(columns={'complaints':'complaints_cnt'})

In [8]:
docID_cmpltId_cnt.head()

                                  complaints_cnt
doctor_id complaints
4         FEVER                                1
          RASH                                 1
          TOOTHACHE                            1
544       SWELLING IN NECK AREA                1
554       LOOSEMOTIONS,VOMITINGS               1

In [9]:
# Saving files
docID_cmpltId_cnt.to_excel('doc_complt_id_wise_cmplt_cnt.xlsx')

In [13]:
# With blanks
docID_cmpltId_cnt_wth_blk=df2.groupby(['doctor_id','complaints']).agg({'complaints': 'count'}).rename(columns={'complaints':'complaints_cnt'})

In [14]:
docID_cmpltId_cnt_wth_blk.head()

                      complaints_cnt
doctor_id complaints
4         Blank                   48
          FEVER                    1
          RASH                     1
          TOOTHACHE                1
544       Blank                    5

In [15]:
docID_cmpltId_cnt_wth_blk.to_excel('doc_complt_id_wise_cmplt_cnt_wth_blk.xlsx')

# Finding the count by doctor id and diagnosis id
### group by on diagnosis and doctor Id together

In [16]:
# Groupby doctor id and complaint
docID_diagId_cnt=df.groupby(['doctor_id','diagnosis']).agg({'diagnosis': 'count'}).rename(columns={'diagnosis':'diagnosis_cnt'})

#With blanks
docID_diagId_cnt_wth_blk=df2.groupby(['doctor_id','diagnosis']).agg({'diagnosis': 'count'}).rename(columns={'diagnosis':'diagnosis_cnt'})

In [17]:
# Saving files
docID_diagId_cnt.to_excel('doc_diag_id_wise_cmplt_cnt.xlsx')

#saving files with blanks cnt
docID_diagId_cnt_wth_blk.to_excel('doc_diag_id_wise_cmplt_cnt_wth_blk.xlsx')